<mat-toolbar>
    <mat-toolbar-row style="background-color: #f8f8f8;font: size 1.5rem; height: 80px; font-family:Gilroy, Helvetica, sans-serif">
        <span style="color: #2e3534; font-weight: bold;">Agenda LIVE <mat-icon style="font-size: 2rem; margin-left: 10px;position: absolute;">date_range</mat-icon></span>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="addLive()"><mat-icon>add</mat-icon>Live</button>
    </mat-toolbar-row>
</mat-toolbar>
<app-live-list></app-live-list>