<mat-toolbar>
    <mat-toolbar-row style="background-color: #F5FFFA;font: size 1.5rem; height: 80px; font-family:Arial, Helvetica, sans-serif">
        <span style="color: #20B2AA; font-weight: 900;">Agenda LIVE <mat-icon style="font-size: 2rem; margin-left: 10px;position: absolute;">date_range</mat-icon></span>
        <span class="example-spacer"></span>
        <button mat-raised-button><mat-icon>add</mat-icon>Live</button>
    </mat-toolbar-row>
</mat-toolbar>
<app-live-list></app-live-list>